*/target
**/*.iml
*.DATA
.idea
target
*.iml
biz/*.data
biz/log
/logs
/log
/client/.idea
/client/dist
/client/node_modules
CATALINA_APPLOG_IS_UNDEFINED/
discoverclient/
/web/logs
/web/log
.DS_Store
npm-debug.log
/out
*.xml.versionsBackup
*.log
.project
.settings
.classpath
empty.txt


